$color-bg: #ffffff;
$accent-1: #fafafa;
$accent-2: #eaeaea;
$accent-3: #999999;
$accent-4: #888888;
$accent-5: #666666;
$accent-6: #444444;
$accent-7: #333333;
$accent-8: #111111;
$color-fg: #000000;

$color-error: #e00;
$color-error-dark: #c50000;

$color-success: #0070f3;
$color-success-dark: #0761d1;

$color-warning: #f5a623;
$color-warning-dark: #ab570a;
